{% extends 'console/base.html' %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/page_make.css') }}" type="text/css" rel="stylesheet">
{% endblock %}
{% block without_left_nav %}
    <div class="col-lg-4" style="height: 95%">
        <div class="base-box white-background-ele" id="drag-container">
            <div style="height: 40%;padding: 10px 5% 20px;" id="mapper-container">
                <div><span>图表</span></div>

            </div>

            <div style="height: 60%;padding: 10px 5% 20px;" ondragenter="" ondragover="" ondrop="" aria-dropeffect="copy">
                画板
            </div>
        </div>
    </div>
    <div class="col-lg-8" style="height: 95%">
        <div class="base-box white-background-ele"></div>
    </div>
{% endblock %}
{% block buttonscript %}
    {{ super() }}
    <script type="text/javascript">
        function getMapper() {
            let xhr = new XMLHttpRequest();
            xhr.open('get', '{{ url_for("mapper_page_api.select_stored_mapper", mapper_id=0) }}', true);
            xhr.onreadystatechange = function () {
                if (xhr.status === 200 && xhr.readyState === 4) {
                    let data = JSON.parse(xhr.responseText);
                    if (data['status'] === 'FAILED') {
                        console.log(data['message']);
                        return;
                    }
                    let dom = document.getElementById('mapper-container');
                    let i = 0;
                    while (data['data'][i]) {
                        let ele = document.createElement('a');

                        ele.setAttribute('id', data['data'][i][0]);
                        ele.setAttribute('class', 'btn btn-light mapper-item');
                        ele.setAttribute('draggable', 'true');
                        ele.setAttribute('ondragstart', 'drag(event)');

                        ele.innerText = data['data'][i][1];
                        dom.appendChild(ele);
                        i++;
                    }
                }
            }
            xhr.send();
        }

        getMapper();


        function drag(ev) {
            ev.dataTransfer.setData('Text', ev.dataTransfer.id);
        }
        function dragover() {

        }

    </script>
{% endblock %}
