<!DOCTYPE html>
<html lang="zh" style="height: 100%">
<head>
    <link href="../static/css/base.css" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div style="height: 100%;width: 100%">
<a href="/web_console">
    后台系统样例
</a>

    <div style="bottom: 0;width: 100%;height: 20px;position:absolute;">
        <a href="https://beian.miit.gov.cn" target="_blank"
           style="float: bottom;position: center; font-size: 3px">
            蜀ICP备2022026721号
        </a>
    </div>
</div>
</body>
</html>